/* MATRIX BACKGROUND */

body {
    margin: 0;
    overflow: hidden;
    background: black;
    font-family: "Courier New", monospace;
}

#matrix {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 0;
}


/* TERMINAL */

#terminal {
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px;
    color: #ff2b2b;
    z-index: 2;
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

.prefix {
    font-weight: bold;
    color: #ff2b2b;
}

#commandInput {
    background: none;
    border: none;
    outline: none;
    color: #ff2b2b;
    font-size: 18px;
    width: 70%;
}

#output {
    white-space: pre-wrap;
    font-size: 16px;
}